<div>
    {{#if menuOptions.left}}
        <a class="linemap-menu-item linemap-menu-item-left" data-action="selectOption" data-option="left"><i class="fas {{menuOptions.left.icon}}"></i></a>
    {{/if}}
    {{#if menuOptions.right}}
        <a class="linemap-menu-item linemap-menu-item-right" data-action="selectOption" data-option="right"><i class="fas {{menuOptions.right.icon}}"></i></a>
    {{/if}}
</div>
